/public/hot
/public/storage
/storage/*.key
/.vagrant
npm-debug.log


Homestead.yaml
Homestead.json
.env
.idea
.vscode
/packages
/storage/debugbar
/vendor/
/resources/asset/_gulp-builder/bower_components/
/resources/asset/_gulp-builder/node_modules/
/resources/asset/_gulp-builder/.sass-cache/
/resources/asset/_gulp-builder/yarn-error.log
/resources/assets/_gulp-builder/node_modules
/resources/assets/_gulp-builder/bower_components
/resources/assets/_gulp-builder/.sass-cache