input, textarea{
	display: block;
	width: 100%;
	border: 1px solid $c-border;
	color: $c-main;
	padding: 0 10px;
	font-family: $base-font;
	border-radius: 0;
	font-size: 16px;
	&:focus{
		outline: none;
		border: 1px solid $c-main;
	}
	&::-webkit-input-placeholder {
		color: $c-grey;
		font-size: 12px;
	}
	&::-moz-placeholder{
		color: $c-grey;
		font-size: 12px;
	}/* Firefox 19+ */
	&:-moz-placeholder{
		color: $c-grey;
		font-size: 12px;
	}/* Firefox 18- */
	&:-ms-input-placeholder{
		color: $c-grey;
		font-size: 12px;
	}
}
input{
	height: 50px;
	line-height: 50px;
}

label{
	font-size: 14px;
	font-weight: bold;
}

.inp{
	&-wrap{
		margin-bottom: 10px;
	}
}

textarea{
	resize: vertical;
	padding: 10px;
}


.inp-c{
	display: none;
	&-lbl{
		display: inline-block;
		position: relative;
		cursor: pointer;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-color: black;
		color: #fff;
	}
	&-wrap{
		display: flex;
	}
}

.checkbox{
	&-wrap{
		padding: 5px 0;
	}
	&-inp{
		display: none;
		&:checked+.checkbox-lbl:before {
			font-family: FontAwesome;
			content: "\f00c";
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 2px;
		}
	}
	&-lbl{
		position: relative;
	    font-size: 15px;
	    line-height: 1.3;
	    padding-left: 25px;
	    cursor: pointer;
    	display: block;
		&:after{
			content: '';
		    display: block;
		    position: absolute;
		    left: 0;
		    top: 1px;
		    width: 16px;
		    height: 15px;
		    border: 1px solid grey;
		}
	}
}