.ttl{
	font-size: 20px;
	line-height: 35px;
	font-weight: bold;
	padding: 20px 0;
	text-align: center;
	&-inverse{
		@extend .ttl;
		color: #fff;
	}
	&-S{
		@extend .ttl;
		font-size: 18px;
		text-transform: uppercase;
		text-align: left;
		padding-top: 0;
	}
	&-L{
		@extend .ttl;
		font-size: 32px;
		text-transform: uppercase;
		padding: 20px 0 40px;
		&-inverse{
			@extend .ttl-L;
			color: #fff;
		}
	}
	&-XS{
		font-size: 13px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		padding-bottom: 10px;
		&-inverse{
			@extend .ttl-XS;
			color: #fff;
		}
	}
}

@media screen and (max-width: 680px){
	.ttl{
		&-L{
		    font-size: 24px;
		    padding: 0 0 10px; 
		}
	}
}